In [1]:
import pandas as pd
import lxml
from fpdf import FPDF

In [2]:
web = pd.read_html("http://www.bna.com.ar/Personas")
divisas = web[1]

In [3]:
billete = web[0]
billete

     30/8/2022    Compra     Venta
0  Dolar U.S.A   1370000   1450000
1         Euro   1370000   1450000
2       Real *  25450000  29450000

In [9]:
billete.replace(to_replace="0000", value=",0000", inplace=True)

In [29]:
billete = billete.astype("str")
billete

     30/8/2022    Compra     Venta
0  Dolar U.S.A   1370000   1450000
1         Euro   1370000   1450000
2       Real *  25450000  29450000

In [59]:
billete["Compra"] = billete["Compra"].str[:-4]+","+billete["Compra"].str[-4:]

In [60]:
billete

     30/8/2022     Compra     Venta
0  Dolar U.S.A   137,0000   1450000
1         Euro   137,0000   1450000
2       Real *  2545,0000  29450000

In [61]:
billete["Venta"] = billete["Venta"].str[:-4]+","+billete["Venta"].str[-4:]

In [62]:
billete

     30/8/2022     Compra      Venta
0  Dolar U.S.A   137,0000   145,0000
1         Euro   137,0000   145,0000
2       Real *  2545,0000  2945,0000

In [76]:
fecha  =billete.columns[0]
fecha

'30/8/2022'

In [90]:
pdf = FPDF(orientation="landscape",unit="pt",format=(383,372))
pdf.add_page()
pdf.image("BNA.png", x=0, y=0)
pdf.set_font("Helvetica", size=22)
pdf.set_text_color(r=150)
#fecha
pdf.text(txt=fecha, x=17, y=122)
# letra de la cuadrilla
pdf.set_font("Helvetica", size=18)
pdf.set_text_color(r=100)

#Dolar Compra
pdf.text(txt=billete.Compra[0], x=199, y=165)
#Dolar Venta
pdf.text(txt=billete.Venta[0], x=287, y=165)
#Dolar Compra
pdf.text(txt=billete.Compra[0], x=199, y=165)
#Euro Venta
pdf.text(txt=billete.Venta[1], x=287, y=208)
#Dolar Compra
pdf.text(txt=billete.Compra[1], x=199, y=208)
#Real Venta
pdf.text(txt=billete.Venta[2], x=287, y=250)
#Real Compra
pdf.text(txt=billete.Compra[2], x=199, y=250)

pdf.output("BNA_Dolar")

''